.prediction{
    background-image: url(./assets/Real-time-prediction.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.csv-input{
        background-image: url(./assets/CSV&manual-input.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.risk-score{
     background-image: url(./assets/Attrition-risk-score.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.recommend{
     background-image: url(./assets/retention-recommend.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.interactive-dash{
     background-image: url(./assets/interactive-dashboard.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}